<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inline my-2 my-lg-0">
   <%= f.text_field :description, class: "form-comtrol mr-sm-2" %>
   <%= f.submit "タスクの追加", class: 'btn btn-outline-secondary my-2 my-sm-0' %>
  </div>
<% end %>
